body {
    font-family: Arial, sans-serif;
    background-color: #ae8484;
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-top: 400px;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .result {
    background-color: #96b86d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  